<h2>Victorious Secret</h2>
<div *ngFor="let member of members | async" class="panel panel-default">
  <a (click)="goToDetailPage(member)" class="panel-body">
    <img src="{{member.imgUrl}}" alt="profile pic">
    <div class="well">
      <h3>{{member.nickName}}</h3>
      <h2>{{member.number}}</h2>
      <div *ngIf="currentRoute === '/club'">
        <p>{{member.bio}}</p>
      </div>
    </div>
  </a>
  <app-edit-member *ngIf="currentRoute === '/admin'" [selectedMember]="member"></app-edit-member>
</div>
