/* You can add global styles to this file, and also import other style files */
@import "abstracts";
@import "assets/bootstrap-sass/variables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

body {
  font-family: $font-primary;
  background-color: black;
  color: white;
}

.panel, .well {
  color: black;
}
